.jumbotron {
  padding-top: 6rem;
  background-color: #fff;
  height: 100vh;
}

.spasi {
  margin-top: -6rem;
}

.panel {
  border-radius: 20px;
  margin-top: -8rem;
  background-color: #fff;
}

.about {
  padding-top: 7rem;
  padding-bottom: 12rem;
  background-color: #800080;
  position: static;
}

.project {
  background-color: #f5f5f5;
}

#gradient {
  background-image: linear-gradient(#f5f5f5, #ffffff);
}

.isiprojek {
  background-color: #fff;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.bg-grey {
  background-color: #d4dcec;
}

.formcustom {
  background-color: #fcecdc;
}

.text-landing1 {
  color: #ee6454;
}

.uk1 {
  font-size: 14px;
}

.text-landing2 {
  color: #1c345c;
}

.geserkiri {
  margin-left: -50px;
}

.carousel-indicators [data-bs-target] {
  position: relative;
  bottom: -100px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
