.jumbotron {
  margin-top: -4rem;
  padding-top: 6rem;
  background-color: #292929;
}

.spasi {
  margin-top: -6rem;
}

.about {
  background-color: #212121;
}

.project {
  background-color: #292929;
}

.isiprojek {
  background-color: #333333;
}
