html {
	position: relative;
}

body{
	margin-bottom: 120px;
	margin-top: 20px;
}
.jumbotron img {
	width: 200px;
	border: 5px solid #666;
}
 hr {
	width: 250px;
	border-top: 3px solid #999;
}
section {
	min-height: 600px;
}
.portfolio {
	background-color: #eee;
}
.btn {
	margin-top: 5px;
}
.contact{
	min-height: 800px;
}
 footer {
 	position: absolute;
 	bottom: 0;
 	background-color: #333;
 	width: 100%;
 	height: 100px;
 	padding: 15px;
 }
 footer p {
 	color: #aaa;
 	font-size: 1em;
 }
